@import "./utils/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/animations";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/container";
@import "./pages/product";

/* * {
    border: 1px solid black;
} */

body {
    width: 100%;
    margin:0;
    background: $tertiary url("../images/bg-ours-peluche-beige.jpg") no-repeat fixed;
    background-size: auto 90vh;
    background-position-y: bottom;
}
header {
    background-color:white;
    border-bottom: 1px solid $primary;
    height: 15vh;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1;
        & .logo {
            position: relative;
            margin: auto 15px;
        }

        & .chariot {
            fill : $primary;
            stroke : $primary;
        }
        
        & .roues{
            position: absolute;
            bottom : 2px;    
            left : 4px;        
            fill : $primary;
            stroke : white;
        }
    & .btn {
        position: absolute;
        top: 25%;
        right: 20px;
    }
}
main, footer{
    position: relative;
    top : 20vh;
}