@import "./utils/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/animations";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/container";
@import "./pages/product";

// * {
//     border: 1px solid black;
// }

body {
    background: $tertiary url("../images/bg-ours-peluche-beige.jpg") no-repeat fixed;
    background-size: auto 95vh;
    background-position-y: bottom;
}
header {
    background-color:white;
    border-bottom: 1px solid $primary;
        & .logo {
            position: relative;
            margin: auto 15px;
        }

        & .chariot {
            fill : $primary;
            stroke : $primary;
        }
        
        & .roues{
            position: absolute;
            bottom : 2px;    
            left : 4px;        
            fill : $primary;
            stroke : white;
        }
}

.main-aside { 
    position: relative;
    margin: 0;
    top : 82px;
}
.main-aside{
    display: flex;
}

.is-not-visible{
    display:none !important;
}
