@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Salsa&display=swap');

h1 {
    font-family: 'Salsa', cursive;
    color:#290A03;
}

h2, h3, h4, h5, p, li, a {
    font-family: 'Montserrat', sans-serif;
    color:#290A03;
}
