// ================ Personaliser les variables de Bootstrap ====================//

// ================ Bootstrap font family ====================//

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Salsa&display=swap');

$headings-font-family:'Montserrat', sans-serif;
$font-family-base: 'Montserrat', sans-serif;

// ================ Bootstrap colors ====================//
$primary : #290A03;
$secondary : #FF79DA;
$tertiary : #FEF5ED;